{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}


    <div class="ui stackable two column grid">

    </div>

    <!--Admin Order Confirmation "misraX"-->
    <h2>Emails:</h2>
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <form action="" method="post" novalidate class="ui loadable form">
                <input type="hidden" name="_method" value="POST">
                {#<input type="hidden" name="_csrf_token" value="{{ csrf_token(resource.id) }}"/>#}

                <button type="submit" class="ui icon labeled tiny green fluid loadable button"><i
                        class="reply all icon"></i> Send
                </button>
            </form>
        </div>
    </div>
{% endblock %}
